.setting-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  .setting-title {
    width: 100%;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
  }
}
.citiesList-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.city-item-container {
  width: 15rem;
  height: 1.5rem;
  display: flex;
  margin: 0.5rem;
  position: relative;
}
.city-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ececec;
  border: 1px solid #a1a1a1;
  box-sizing: border-box;
}
